<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.tonband" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>tonband_plugin</name>

    <js-module name="tonband_plugin" src="www/tonband_plugin.js">
        <clobbers target="cordova.plugins.tonband_plugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TonbandPlugin">
                <param name="android-package" value="cordova.plugin.tonband.TonbandPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/TonbandPlugin.java" target-dir="src/cordova.plugin.tonband" />
        <source-file src="src/android/BluetoothService.java" target-dir="src/cordova.plugin.tonband" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TonbandPlugin">
                <param name="ios-package" value="TonbandPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/TonbandPlugin.m" />
        <source-file src="src/ios/Bluetooth.h" />
        <source-file src="src/ios/Bluetooth.m" />
    </platform>
    
</plugin>